<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../static/Css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../static/Css/bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="../../static/Css/style.css" />
		<script type="text/javascript" src="../../static/Js/jquery.js"></script>
		<script type="text/javascript" src="../../static/Js/bootstrap.js"></script>
		<script type="text/javascript" src="../../static/Js/ckform.js"></script>
		<script type="text/javascript" src="../../static/Js/common.js"></script>
		<style type="text/css">
			body {
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
			@media (max-width: 980px) {
				/* Enable use of floated navbar text */
				.navbar-text.pull-right {
					float: none;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		</style>
	</head>
	<body>
		<table  class="table table-condensed table-bordered table-hover"  style="margin:5px" >
			<thead>
			<tr>
				<p>{$isSuccess}</p>
			</tr>
			
				<tr>
					<th width='20px'>序号</th>
					<th >错误类型</th>
					<th >姓名</th>
					<th >具体数据</th>
				</tr>
			</thead>
			<tbody>
				{volist name = "noDepartment" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>部门信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.department}</td>
					</tr>
				{/volist}
				{volist name = "noSubsection" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>分部、中心站信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.subsection}</td>
					</tr>
				{/volist}
				{volist name = "noTeam" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>班组信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.team}</td>
					</tr>
				{/volist}
				{volist name = "noPost" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>岗位信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.post}</td>
					</tr>
				{/volist}
				{volist name = "noRank" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>岗位职级信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.rank}</td>
					</tr>
				{/volist}
				{volist name = "noSex" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>性别信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.sex}</td>
					</tr>
				{/volist}
				{volist name = "noNotOnTheJob" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>是否不在岗信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.notOnTheJob}</td>
					</tr>
				{/volist}
				{volist name = "noMarital" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>婚姻情况信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.marital}</td>
					</tr>
				{/volist}
				{volist name = "noPolitics" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>政治面貌信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.politics}</td>
					</tr>
				{/volist}
				{volist name = "noNation" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>民族信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.nation}</td>
					</tr>
				{/volist}
				{volist name = "noHouseholdRegister" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>户籍性质信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.householdRegister}</td>
					</tr>
				{/volist}
				{volist name = "noeducation" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>学历信息错误</td>
						<td>{$vo.userName}</td>
						<td>{$vo.education}</td>
					</tr>
				{/volist}
				{volist name = "duplicationName" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>更新人员</td>
						<td>{$vo.userName}</td>
					</tr>
				{/volist}
				{volist name = "errorData" id="vo"}
					<tr>
						<td>{$i}</td>
						<td>信息有误人员</td>
						<td>{$vo.userName}</td>
					</tr>
				{/volist}
			</tbody>
		</table>
	</body>
</html>
<script></script>