<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../static/Css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../static/Css/bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="../../static/Css/style.css" />
		<script type="text/javascript" src="../../static/Js/jquery.js"></script>
		<script type="text/javascript" src="../../static/Js/bootstrap.js"></script>
		<script type="text/javascript" src="../../static/Js/ckform.js"></script>
		<script type="text/javascript" src="../../static/Js/common.js"></script>
		<style type="text/css">
			body {
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
			@media (max-width: 980px) {
				/* Enable use of floated navbar text */
				.navbar-text.pull-right {
					float: none;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		</style>
	</head>
	<body>
		<table  class="table table-condensed table-bordered table-hover"  style="margin:5px" >
			<thead >
				<tr>
					<th nowrap="nowrap">序号</th>
					<th nowrap="nowrap">部门/分部</th>
					<th nowrap="nowrap">班组</th>
					<th nowrap="nowrap">员工编号</th>
					<th nowrap="nowrap">员工姓名</th>
					<th nowrap="nowrap">上月结转（±）A</th>
					<th nowrap="nowrap">月标准工时 B1</th>
					<th nowrap="nowrap">实际出勤工时B2</th>
					<th nowrap="nowrap">年休假C1</th>
					<th nowrap="nowrap">探亲假C2</th>
					<th nowrap="nowrap">产假/计生假C3</th>
					<th nowrap="nowrap">独生/看护假C4</th>
					<th nowrap="nowrap">婚假/丧假C5</th>
					<th nowrap="nowrap">病假/事假C6</th>
					<th nowrap="nowrap">病假/事假C6</th>
					<th nowrap="nowrap">本月结转（±）D</th>
					<th nowrap="nowrap">累计结转（±）E</th>
					<th nowrap="nowrap">统计时间</th>
					<th nowrap="nowrap">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name = "selectWorkHourInfo" id="vo"}
					<tr>
						<td>{$i}</td>
						<!-- <td nowrap="nowrap">{$vo.id}</td> -->
						<td>{$vo.work_hour_info_department}</td>
						<td>{$vo.work_hour_info_team}</td>
						<td>{$vo.work_hour_info_employee_id}</td>
						<td>{$vo.work_hour_info_employee_name}</td>
						<td>{$vo.work_hour_info_last_turn}</td>
						<td>{$vo.work_hour_info_standard_hour}</td>
						<td>{$vo.work_hour_info_real_hour}</td>
						<td>{$vo.work_hour_info_year_vacation}</td>
						<td>{$vo.work_hour_info_home_vacation}</td>
						<td>{$vo.work_hour_info_maternity_vacation}</td>
						<td>{$vo.work_hour_info_care_vacation}</td>
						<td>{$vo.work_hour_info_marriage_leave}</td>
						<td>{$vo.work_hour_info_sick_leave}</td>
						<td>{$vo.work_hour_info_other_vacation}</td>
						<td>{$vo.work_hour_info_this_turn}</td>
						<td>{$vo.work_hour_info_all_turn}</td>
						<td>{$vo.work_hour_info_year}年{$vo.work_hour_info_month}月</td>
						<td nowrap="nowrap" ><a href ="#"  class="btn btn-danger btn-lg" onclick="return delSingle({$vo.work_hour_info_employee_id},{$vo.work_hour_info_year},{$vo.work_hour_info_month});"><span class="icon-edit"></span>删除</a></td>
					</tr>
				{/volist}
			</tbody>
		</table>
	</body>
</html>
<script>
function reflashMain()
{
	var data = {
			year:$('#selectYearList').val(),
			month:$('#selectMonthList').val(),
			department:$('#selectDepartmentList').val(),
			team:$('#selectTeamList').val(),
			userName : $('#userName').val(),
			userID : $('#userID').val()
		};
		$.ajax({
			type : 'post',
			data : data,
			url : '/index/Manhour/workHourInfoRecordSearch',
			cache : false,
			success : function(msg) {
				$('#content').empty();
				$('#content').html(msg);
			}
		});
}

function delSingle(userID,year,month)
{
	var data = {
			userID : userID,
			year : year,
			month : month
		};
	$.ajax({
		type : 'post',
		data : data,
		url : '/index/manhour/workHourInfoRecordDelete',
		cache : false,
		success : function(msg) {
			if(msg)
			{
				reflashMain();
			}
			else{
				alert("删除失败！！");
			}
		}
	});
};


</script>